@page "/gameobjectpreview"


 <GameObjectPreview Size="size" @bind-EnemyType="enemyType"></GameObjectPreview>

<input type="range" min="0" max="100" @bind="size" @bind:event="oninput"/>

<p>Size: @size</p>
<p>Enemy Type: @enemyType</p>

<p>
    <input type="text" @bind-value="size"/>
</p>

@code {
    int size { get; set; } = 50;
    string enemyType = "javascript";
}
